<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee  http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ConnServlet</servlet-name>
        <servlet-class>Controller.ConnServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>PaymentDeleteServlet</servlet-name>
        <servlet-class>Controller.PaymentDeleteServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ProductsShowServlet</servlet-name>
        <servlet-class>Controller.ProductsShowServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ProductAddServlet</servlet-name>
        <servlet-class>Controller.ProductAddServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ProductSearchServlet</servlet-name>
        <servlet-class>Controller.ProductSearchServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ProductUpdateServlet</servlet-name>
        <servlet-class>Controller.ProductUpdateServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ProductDeleteServlet</servlet-name>
        <servlet-class>Controller.ProductDeleteServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ProductManageServlet</servlet-name>
        <servlet-class>Controller.ProductManageServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConnServlet</servlet-name>
        <url-pattern>/ConnServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductsShowServlet</servlet-name>
        <url-pattern>/ProductsShowServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductAddServlet</servlet-name>
        <url-pattern>/ProductAddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductSearchServlet</servlet-name>
        <url-pattern>/ProductSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductUpdateServlet</servlet-name>
        <url-pattern>/ProductUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDeleteServlet</servlet-name>
        <url-pattern>/ProductDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductManageServlet</servlet-name>
        <url-pattern>/ProductManageServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
           30
       </session-timeout>
    </session-config>
</web-app>
